langchain==0.3.25
langchain-core==0.3.65
langchain-community==0.3.24
langchain-openai==0.3.16
langchain-huggingface==0.1.2
numpy==2.0.2
sympy==1.13.3
sentence-transformers==3.3.1
faiss-cpu==1.9.0
python-dotenv==1.0.1
